.header {
    width: 100%;
    background-color: #3f51b5;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    border-radius: 15px;
    color: white;
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.slider-container {
    margin-left: 10%;
    margin-right: 10%;
}

.App {
    text-align: center;
  }

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}
